/* TEXT */

* {
  color: rgb(33, 37, 41);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
}

#content h1 {
  font-size: 1.8em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#content h2 {
  font-size: 1.5em;
  margin-top: 0em;
  margin-bottom: 0.3em;
}

#content h1.playlist {
  margin: 2em 0 0 0;
}

p,
#content a {
  font-size: 1em;
  line-height: 1.65em;
  font-weight: 400;
}

#content h1.gen-info {
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}

a,
a:hover {
  color: rgb(33, 37, 41);
}

p.gen-info {
  margin-bottom: 0.5em;
}

.last-q {
  font-weight: 400;
  margin-right: 3em;
}

label {
  margin: 0 1em 0.7em 0;
  font-weight: 700;
  font-size: 0.98em;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 500;
}

.code-text {
  margin-top: 1em;
}

h6 {
  margin-top: 1em;
  margin-bottom: 1.2em;
  font-size: 1.1em;
  line-height: 1.7em;
}

.error {
  color: #dc3545 !important;
}

/* IMAGES */

.logo {
  margin: 1em 0;
}

.music-img {
  margin: 4.3em 0 0 4em;
  width: 75%;
}

.complete-img {
  margin: 4em 0em 8em 0em;
  width: 60%;
}

.playlist-img {
  margin: 4.3em 0em 5em 5em;
  width: 100%;
}

.terminate-img {
  margin: 3.5em 0em 9em 0em;
  width: 60%;
}

/* BUTTONS & INPUT */

#content .continue {
  margin-bottom: 1em !important;
}

#content .cont {
  width: 7em;
}

#content .personality-cont {
  margin: 1em 0em !important;
}

#content .btn {
  margin-top: 0.8em;
  margin-bottom: 1.3em;
  font-size: 0.98em;
}

#content .final-btn {
  margin-bottom: 7em !important;
}

.form-control {
  margin-top: 1.3em;
}

#content .form-select {
  width: 15em;
}

#content .age {
  height: 2.2em;
  width: 5em;
}

#content .inline {
  display: inline-block;
  margin-bottom: 1.3em;
}

#content .username {
  margin-bottom: 0.8em;
  width: 20em;
  height: 2em;
  border-radius: 5px;
}

#content .username-label {
  margin-top: 0.6em;
}

.complete {
  margin: 2.55em 0em !important;
}

/* LOADING BUTTON */

#content button {
  padding: 0.8em;
  font-weight: 600;
  font-size: 1.5em;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  border: 0px;
  position: relative;
  transition: all 0.25s ease;
  color: #fff;
  overflow: hidden;
}

.load {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.load::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 1s ease infinite;
  z-index: 10;
}

.load::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px dashed #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 2s linear infinite;
  z-index: 5;
}

@keyframes loading1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button.active {
  transform: scale(0.85);
}

button.activeLoading .loading {
  visibility: visible;
  opacity: 1;
}

button .loading {
  opacity: 0;
  visibility: hidden;
}

/* PROGRESS BAR */

.progress {
  height: 1.9em;
}

#progress .progress {
  border-radius: 0;
}

.progress-bold {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}

/* FORMS & TABLES */

#content .centered,
#content input[type="radio"] {
  text-align: center;
}

#content table {
  margin-bottom: 2em;
  margin-top: 3em;
  font-size: 0.95em;
}

#content .playlist-table {
  margin-top: 1em;
}

#content thead.table-border {
  border-top: 2px solid currentColor !important;
}

#content thead {
  border-top: none;
}

#content thead.middle-align {
  vertical-align: middle;
}

#content th {
  padding-top: 1em;
}

#content tbody,
#content td,
#content tfoot,
#content th,
#content thead,
#content tr {
  border-style: none;
}

#content tbody {
  border-top: none;
}

.musical-expertise {
  font-size: 0.96em;
}

.table-sm,
.ratio-q {
  font-size: 0.95em;
}

.ratio-q {
  font-weight: 700;
  margin: 3em 0 1em 0;
}

.ratio-label {
  font-weight: 400;
  font-size: 0.95em;
  margin-left: 0.4em;
  vertical-align: 0.1em;
}

#content .label-yes-no {
  margin: 0 1.5em 0 0.3em;
  font-weight: 600;
  vertical-align: 0.1em;
}

.table-hover tbody tr:hover td {
  background-color: rgba(33, 37, 41, 0.267);
}

.thead-dark {
  background-color: rgba(33, 37, 41, 0.95);
}

#content .thead-dark > tr > th {
  color: white;
  padding: 0.5em;
}

#content .rounded-edges-left {
  border-radius: 5px 0 0 0;
}

#content .rounded-edges-right {
  border-radius: 0 5px 0 0;
}

#content .playlist-q-table {
  margin-top: 1.8em;
}

/* SECTIONS */

#content hr {
  margin: 3em 0;
}


/* FOOTER */

footer {
  margin-top: 1em;
  padding: 1.5em 0;
}

.footer-text,
.footer-text a,
.footer-text > .bold {
  color: white;
  font-size: 1em;
  margin-bottom: 0;
}

.footer-text,
.footer-text a {
  font-weight: 200;
}

.footer-text > .bold {
  margin-bottom: 0;
  font-weight: 600 !important;
}



/* MOBILE */


@media only screen and (max-width: 576px) {
  .playlist-img {
    margin: 1.5em 0em 2em 0em;
    width: 80%;
  }

  .music-img {
    margin: 2em 0;
    width: 60%;
  }

  .complete-img {
    margin: 2em 0;
    width: 60%;
  }

  .terminate-img {
    margin: 1.7em 0em 1em 0em;
    width: 60%;
  }

  #content .final-btn {
    margin-bottom: 2em !important;
  }
}

@media only screen and (max-width: 992px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}



